body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #222222;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: #009579;
}

.filmes-title {
    background-color: #ffffcc;
    height: 60px;
    text-align: center;
    border: 1px solid #ffff99;
}

img.grayscale {
    filter:  gray;
    -webkit-filter:  grayscale(1);
    filter: grayscale(1);
    width: 210px;
    height: 315px;
}

img.grayscale:hover {
    -webkit-filter:  grayscale(0);
    filter: none;
}

div.filmes-content {
    background-color: #ffffcc;
    transition: transform .2s;
    height: 315px;
    width: 210px;
    text-align: center;
    border: 1px solid #ffff99;
    float: left;
    margin: 10px;
}

div.filmes-content:hover {
    transform:  scale(1.2);
}
